<log4net>

  <root>
    <appender-ref ref="Console" />
    <appender-ref ref="File" />
  </root>

  <!--File Appender-->
  <appender name="File" type="log4net.Appender.RollingFileAppender">
    <threshold value="ALL" />
    <file type="log4net.Util.PatternString" value="%property{logdirectory}/%property{logfile}.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="20MB" />
    <sta